.landing-navbar {
  max-width: 1100px;
  margin: 1.5rem auto;
  padding: 0.6rem 1.4rem;

  border-radius: 999px;
}

.landing-navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
