.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.customCard{
  width:300px;
  margin:auto;
  padding: 0;
  
}
.row.no-gutters > [class*="col-"]{
  padding-left: 0;
  padding-right: 0;
}

.doctorCard{
  width:300px;
  padding-top: 150px;
  border: none;
}

.doctorText{
  padding-top:150px;
}


.custom-font-heading{
  font-family:'Rboto',serif;
  font-size: 50px;
  font-weight: 400;
}

.custom-font-text{
  font-family:'Rboto',serif;
  font-size: 25px;
  font-weight: 400;
}

.bg-home{
  background-image: url('./assets/accompaniment-abortion-process.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width:100%;
  min-Height: 100vh;
 
  

}

/* App.css or custom CSS */
.blur-card {
  background-color: rgba(255, 255, 255, 0.1); /* translucent */
  backdrop-filter: blur(10px);               /* blur effect */
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #000; /* or white if background is dark */

}
.custom-color-navbar{
  background-color: #3c7088;
}

.bg-doctordetail{
    background-image: url('./assets/doctor-patient.jpg');
  background-size: cover;
  background-position: center;
  width:100%;
  background-attachment: fixed;
  min-Height: 100vh;


}
.custom-colour{
  color:#3c7088;
}